div.hero {
    width: 100%;
    height: auto +50px;
    background-image: url("../images/hero-background.png");
    padding: 150px 0 75px 0;
    text-align: left;
}

.hero-content {
    text-align: left;
}
.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .col { max-width: 100% }
    body { text-align: center; }
    div.hero { background-image: url("../images/hero-mobile.png"); padding: 30px 0;}
    .hero-content {text-align: center;}

}